.git
.gitignore
.dockerignore

.env
.env.*

venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

db.sqlite3
media/
staticfiles/
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
