# Python
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/


.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Docker
docker-compose.override.yml
